<app-header></app-header>
<div class="container">
    <div class="row align-items-center h-75 vh-100">
        <div class="col-12 mx-auto">
            <div class="card shadow border">
                <div class="card-body d-flex flex-column align-items-center">
                    <table class="table">
                        <thead>
                          <tr>
                            <th>Id</th>
                            <th scope="col">Driver name</th>
                            <th scope="col">Source</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Price</th>
                            <th scope="col">Stops</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let r of routes">
                            <td>{{r .id}}</td>
                            <td>{{r.driverName}}</td>
                            <td>{{r.source}}</td>
                            <td>{{r.destination}}</td>
                            <td>{{r.price}}</td>
                            <td>{{r.stops}}</td>
                            <td><a (click)="showRoute(r)">Show Details</a></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
